/* styles.css o tu archivo CSS personalizado */
.content {


  }
  /* Estilos para el navbar principal */
.navbar.bg-custom {
    background-color: #002652;
    height: auto;
    color:#ffffff /* Ajusta el valor para cambiar la altura */
}
 /* Estilos para el ícono del botón de navegación */
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='orange' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M1 4h14M1 8h14M1 12h14'/%3E%3C/svg%3E");
}

  .body{
    background-color:rgba(252, 252, 252, 0.664);
  }

/* Estilos para el botón con el ícono "x" */
.btn-closecanvas svg {
    fill: white; /* Cambia el color del ícono a blanco */
}
/* Estilos para el Offcanvas Body */
.offcanvas-body {
    background-color: #002652;
    color: #fff;
}
/* Estilos para el icono SVG en el botón cerrar */
.btn-close svg {
    fill: #ffffff; /* Color blanco para el icono SVG */
  }
/* CSS personalizado */
.btn-info {
    background-color: #FF640C; /* Color naranja personalizado (#ff640c) */
    color: #FFFFFF; /* Texto en color blanco */
    border-color: #002652;

}.btn-info:hover {
    background-color: #002652;
    border-color: #ff640c;
    color: #FFFFFF;
}
.offcanvas-header {
    background-color: #ff640c;
    color: #fff;
}
.offcanvas-tiltle{
    color: white;
}
.btn-close::before,
.btn-close::after {
  background-color: #ffffff; /* Color de fondo blanco para la X */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #ff640c;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #e55c00;
}
.btn-close {
  background-color: transparent; /* Fondo transparente para el botón cerrar */
}

  /* Agrega una clase para ocultar el submenú */
  .dropdown-menu.hidden {
    display: none;
  }

  /* Estilos para el menú principal */
  .navbar-dark .navbar-nav .nav-link{
    color: white; /* Estilo para el texto del menú principal */
}

/* Estilos para el enlace activo */
.navbar-dark .navbar-nav .nav-link-active {
    color: orange;
    /* Puedes ajustar otros estilos aquí, como el fondo o los bordes */
}




.navbar-dark .navbar-nav .nav-link:hover {
    color: yellow; /* Estilo para el texto del menú principal cuando está en hover */
}

/* Estilos para los submenús */
.secondary-navigation .navbar-nav .nav-link.submenu {
    color: black; /* Estilo para el texto de los submenús */
}

.secondary-navigation .navbar-nav .nav-link.submenu:hover {
    color: #002652; /* Estilo para el texto de los submenús cuando están en hover */
}
/* Estilo para el enlace activo */

/* Estilos para el Secondary Navigation */
.secondary-navigation {
    padding-top:5px;
 padding-bottom: 5px;
    border: 1px solid gray;
    height: 35px; /* Ajusta el valor para cambiar la altura */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */

}

/* Estilos para el contenido dentro del contenedor del Secondary Navigation */


.secondary-navigation .nav-item {
    margin-right: 10px; /* Ajusta el valor para cambiar el espacio entre los elementos del navbar */
}

.btn-eliminar{
    background-color: #ff0000;
}
